antlr4-python3-runtime==4.9.2
anyio==3.6.2
argon2-cffi
arrow==1.2.3
asttokens
attrs
Babel
beautifulsoup4
black
bleach
certifi
charset-normalizer
click
colorama
comm
contourpy
customtkinter
cycler
darkdetect
debugpy
decorator
defusedxml
dnspython
entrypoints
executing
fastjsonschema
fonttools
fqdn
idna
ipykernel
ipython
ipywidgets
isoduration
jedi
Jinja2
joblib
json5
jsonpointer
jsonschema
jupyter
jupyter-console
jupyter-events
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
kagglehub
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
mistune
mypy_extensions
narwhals
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numpy>=1.26.0
packaging
pandas
pandocfilters
parso
pathspec
pickleshare
pillow
platformdirs
plotly
prometheus-client
prompt-toolkit
psutil
pure-eval
pycparser
Pygments
pymongo
pyparsing
pyrsistent
python-dateutil
python-dotenv
python-json-logger
pytz
pywin32>=307
pywinpty
PyYAML
pyzmq
qtconsole
QtPy
requests
rfc3339-validator
rfc3986-validator
scikit-learn
scipy
seaborn
Send2Trash
six
sniffio
soupsieve
stack-data
terminado
threadpoolctl
tinycss2
tomli
tornado
tqdm
traitlets
tzdata
uri-template
urllib3>=2.2.1
wcwidth
webcolors
webencodings
websocket-client
widgetsnbextension
